{% extends "layout.html" %}

{% block content %}
    <section>
        <p>
            This is a demonstration OpenID Connect client.
            It illustrates how to integrate with an identity provider so users can register,
            log in, consent to share data, and then be redirected back to the service.
        </p>
    </section>

    {% if token %}
        {% include "authenticated.html" %}
    {% else %}
        <div class="buttons-right">
            <div role="group">
                <a href="{{ url_for('routes.register') }}" role="button">Sign up</a>
                <a href="{{ url_for('routes.login') }}" role="button">Sign in</a>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/copy-token.js') }}"></script>
{% endblock %}
