---
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.11
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: fix-byte-order-marker
      - id: trailing-whitespace
        exclude: "\\.svg$|\\.map$|\\.min\\.css$|\\.min\\.js$|\\.po$|\\.pot$"
      - id: end-of-file-fixer
        exclude: "\\.svg$|\\.map$|\\.min\\.css$|\\.min\\.js$|\\.po$|\\.pot$"
      - id: check-toml
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.10
    hooks:
      - id: djhtml
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    - id: codespell
      additional_dependencies:
        - tomli
      exclude: ".*\\.min\\..*|translations|\\.css$|^tests|fomanticui|doc/locales|auth-playground\\.spec"
      args: [--write-changes]
  - repo: local
    hooks:
      - id: pybabel-extract
        name: Extract translatable strings
        entry: bash -c 'uv run pybabel extract -o src/auth_playground/translations/messages.pot src/auth_playground && git add src/auth_playground/translations/messages.pot'
        language: system
        pass_filenames: false
        files: '\.(py|html)$'
        exclude: '^tests/'
